DATABASE_URL="mysql://user:password@localhost:3306/database_name"
NEXT_PUBLIC_SITE_URL="https://gotop.et"
JWT_SECRET="your-secret-key"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="your-email@example.com"
SMTP_PASSWORD="your-email-password"
SMTP_FROM="info@gotop.et"